body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#layers {
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    overflow: hidden;
    position: relative;
}

#layer-0 {
    background-image: url("img/0.png");
}

#layer-1 {
    background-image: url("img/1.png");
}

#layer-2 {
    background-image: url("img/2.png");
}

#layer-3 {
    background-image: url("img/3.png");
}

#layer-4 {
    background-image: url("img/4.png");
}

#layer-5 {
    background-image: url("img/5.png");
}

.layer {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
}